[submodule "ndtkit-cpp-api-examples"]
	path = ndtkit-cpp-api-examples
	url = https://github.com/cedric-bertrand-testia/ndtkit-cpp-api-examples.git
[submodule "ndtkit-python-api-examples"]
	path = ndtkit-python-api-examples
	url = https://github.com/cedric-bertrand-testia/ndtkit-python-api-examples.git
[submodule "ndtkit-jython-api-examples"]
	path = ndtkit-jython-api-examples
	url = https://github.com/cedric-bertrand-testia/ndtkit-jython-api-examples.git
[submodule "ndtkit-batch-api-examples"]
	path = ndtkit-batch-api-examples
	url = https://github.com/cedric-bertrand-testia/ndtkit-batch-api-examples.git
